.env
*.jpeg
/documents
venv/
.idea/
Dockerfile
__pycache__/
test*.py
*.txt
scrap_data.py
/api
joinFootball.py
parsing_page.py
templates_messages.py
echo.py
*.png
tg_bot/misc/joinfootball_requests.py
tg_bot/misc/image_processing
*.ttf
doubles/
*.ini
/migrations